body {
    background-color: #ffffff;
}
.header {
    padding: 20px;
    text-align: left;
    background: white;

}
button.logo{
    text-align: center;
    border-radius: 150%;
    padding: 10px 10px;
    color: grey;
    background: whitesmoke;
    float: left;
    border: white;
    font-size: 20px;
    margin: 5px;
}
p.LLC{
    float: left;
    text-align: left;
}
footer {
    clear:left;
    background-color: #ecdfdf;
    padding: 200px;
    text-align: Left;
    color: #000000;
    margin: 50px;
}

.button {
    text-align: center;
    border-radius: 100%;
    padding: 10px 10px;
    color: white;
    background: black;
    float: right;
    font-size: 10px;
    margin: 6px;

}
p.rightbutton{
    float: right;

}
.mid{
    padding:25px;
}
.lname:hover{
    opacity: 1;
}
h4{
    margin: 0;
    display: inline-block;
}
div.pictures{
        margin: 100px;
        border: 1px solid #ccc;
        width: 400px;
        display:block;
        float:left;

}

div.desc {
    padding: 15px;
    text-align: center;
}
.blocker{
    clear:left;
}


img.pics{
    width: 400px;
    height: 620px;
}
div.topnav{
    float:right;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px;
}
img.carmen{
    float: right;
    width: 400px;
    height: 400px;
    display: inline-block;
    border-radius: 150%;


}
div.video{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}
h1{
    text-align: center;
}
form{
}
input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 50%;
    text-align: left;
}
label{
    text-align: left;
}

input[type=submit] {
    padding:5px 15px;
    color: white;
    background:black;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 50%;

}
div.thatform{
    text-align: center;
}

